fastapi
uvicorn
requests
transformers
peft   
chromadb 
sentence-transformers
pandas
openpyxl
google-generativeai
numpy
huggingface-hub
tqdm
duckduckgo-search
firecrawl
beautifulsoup4
tavily-python
wikipedia-api
pyarrow
bitsandbytes